{{define "head"}}<title>Index</title>{{end}}

{{define "body"}}
<h1>Notes List</h1>
<p>
  <a href="/notes/add">Add Note</a>
</p>

<div>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Create On</th>
            <th>Actions</th>
        </tr>
        {{range $key,$value := .}}

        <tr>
            <td>{{$value.Title}}</td>
            <td>{{$value.Description}}</td>
            <td>{{$value.CreateOn}}</td>
            <td>
                <a href="/notes/edit/{{$key}}" > Edit</a>
                <a href="/notes/delete/{{$key}}" > Delete</a>
            </td>
        </tr>
        {{end}}
    </table>
</div>

{{end}}

作者：小Q逛逛
链接：http://www.jianshu.com/p/f8bc8e9c05d9
來源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。