{{define "head"}}<title>Add Note</title>{{end}}

{{define "body"}}
<h1>Notes List</h1>
<p>
  <a href="/notes/add">Add Note</a>
</p>


<script src="/jquery/jquery-1.11.1.min.js">
</script>
<style>
.jsonclass{ width:600px; height:200px;font-size</a>:28px; font-weight:bold; text-indent:2em; text-align:left;}
</style>
<!--进入主页之前要初始化一下数据，下拉菜单可以不使用实时请求-->
<form action="/moa/running" method="post">
测试服务器：
<br>
<input type="text" name="firstname" value="{{.Ip}}">
<br>
用户数: 
<br>
<input type="text" name="firstname" value="{{.NumofUser}}">
<br>
运行次数: 
<br>
 <input type="text" name="lastname" value="100">
<br>
登录和业务比: 
<br>
 <input type="text" name="lastname" value="1"><font size="1.5">登录一次，发送几次业务请求</font> 
<br>
<!--这里通过查询数据库再显示-->
操作码: 
<br>
<select id="issued_sub_key_c" name="操作码"> 
 {{range $key := .Serv_op}}
        <option value="{{$key}}">{{$key}}</option>   
{{end}}
</select> 
 <a href="/moa/getcontrlop">获取服务码</a>
<button onclick="/moa/getcontrlop">获取服务码</button>
<br>
{{if .Contrl_op}}
服务码：
<br>
<select name="服务码"> 
{{range $key := .Contrl_op}}
    <option value="{{$key}}">{{$key}}</option> 
{{end}}
</select> 
<a href="/moa/getJcontext">获取服务码</a>
{{end}}
{{if .Jcontext}}
<br>
<!--根据前面的选择结果自动填充-->
json数据：
<br>
<input class="jsonclass" type="text" name="firstname" value="{{.Jcontext}}">
<br>
<br>
<input type="submit" value="运行">
{{end}}
</form> 
<p>下面使用ajax请求实时获取服务端的资源占用情况</p>
<p>继续获取服务端的样本运行情况</p>
<script>
$(document).ready(function () {
    $.ajax({
        timeout: 3000,
        async: false,
        type: "POST",
        url: "/moa/getJcontext",
        dataType: "json",
        data: {
            warehouse: $("#issued_sub_key_c").val(),
        },
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#issued_sub_key_c").append("<option>" + data[i].Name + "</option>");
            }
        }
    });
});
</script>
{{end}}

